node_modules
/destination
tsconfig.tsbuildinfo
.env
coverage
source/native-addon/native/target
yarn-error.log
.husky
.lsp
.clj-kondo
index.node
artifacts.json
bundle-analyzes
storybook
lefthook.yml
source/server/prisma/migrations
logs.log
gun-database
*.tmp
zig-cache
.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata