name: "auto-merge-dependabot"
on:
  pull_request:
jobs:
  auto-merge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: sudo apt-get update
      - run: sudo apt-get install build-essential libpcap-dev
      - uses: actions/setup-node@v2
        with:
          node-version: "lts/*"
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
          components: rustfmt, clippy
      - uses: actions/setup-go@v2
        with:
          go-version: "1.18"
      - run: yarn --ignore-engines
      - run: yarn run test
      - uses: ahmadnassri/action-dependabot-auto-merge@v2
        with:
          target: minor
          github-token: ${{ secrets.token }}
